{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
    <h1> Hello </h1>
    {{ {name: "Alex", first: false, address: "42 Villenoise, Paris"} | first }}

{% endblock %}
